<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello world</title>
    <script src="js/vue.js"></script>
</head>
<body>
<!--make object and manipulates-->
<h2>make object and manipulates</h2>
<div id="intro" style="text-align: center">
    <h1>{{ message }}</h1>
</div>
<div id="second" ><p>{{ message2 }}</p></div>
<!------------------------------>
<h2>Instances</h2>
<div id="insta">
    <h2>Firstname: {{ firstname }}</h2>
    <h2>LastName: {{ lastname }}</h2>
    <h2>{{ mydetails() }}</h2>
</div>
<script>
// make object and manipulates
    var vue_det = new Vue({
        el: '#intro',
        data:{
            message: 'My first VueJS Task'
        }
    });
    var vue_var2= new Vue({
        el:"#second",
        data: {
            message2: "The second message"
        }
    });
    console.log(vue_det);
    console.log(vue_var2);
    // Instance
    /***
     var app = new Vue ({
        // options
    });
     ****/
    var vm = new Vue({
        el: "#insta",
        data: {
            firstname: "Ria",
            lastname: "Singh",
            address: "Mumbai",

        },
        methods:{
            mydetails: function () {
               return "I m "+this.firstname +" "+this.lastname;
            }
        }
    });
    // research vue and how works vue
//vue has inside temp obj for data : __ob__: Observer value: $data

    var  _obj = {fname: "Raj", lname: "singh"}
    var obs = new Vue({
        data: _obj
    });
    // obs.$data
    console.log(obs.fname);
    console.log(obs.$data);
    console.log(obs.$data.lname);


</script>
</body>
</html>