<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Title</title>
</head>
<body>
<div id="app">
    {{ message }}
</div>
<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse over me for a few seconds
    to see my dynamically bound title!
  </span>
</div>
<div id="app-3">
    <span v-if="seen">Now you see me</span>
</div>
<div id="app-4">
    <ol>
        <li v-for="todo in todos">
            {{ todo.text }}
        </li>
    </ol>
</div>
<div id="items">
    <p v-for="item in items">
        {{ item.text}}
    </p>

</div>
<!--// work with input elements-->
<div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
</div>
<div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
</div>

<script>
    // put data to inside html element
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    });
    // bind data to attr v-bind:title
    var app2 = new Vue({
        el: '#app-2',
        data: {
            message: 'You loaded this page on ' + new Date().toLocaleString()
        }
    });
    //toggle view v-if="seen"
    var app3 = new Vue({
        el: '#app-3',
        data: {
            seen: false
        }
    });
    // paste list item v-for="todo in todos"
    var app4 = new Vue({
        el: '#app-4',
        data: {
            todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
            ]
        }
    });
    var items = new Vue({
        el: '#items',data: {
            items:[
                {text:' First text'},
                {text:' Twice text'},
                {text:' Three text'}
            ]

        }


    });
    //work with input elements v-on:click="methods"
    var app5 = new Vue({
        el: '#app-5',
        data: {
            message: 'Hello Vue.js!'
        },
        methods: {
            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            }
        }
    });
    // paste data v-model
    var app6 = new Vue({
        el: '#app-6',
        data: {
            message: 'Hello Vue!'
        }
    })

</script>
</body>
</html>