body{
    background: #f6f6f6;
    font: 13px/1.1em Arisl, "Helvetica Neue", Helvetica, sans-serif;
}
h1, h2, h3, h4, h5{
    text-transform: uppercase;
}
h2 span,
h3 span,
h5 span {
    color: #9fc63f;
}
/** Header

 */
header{
    overflow: hidden;
    padding: 25px 0;
}
header > div{
    margin: 0 auto;  /**to center**/
width: 960px;
    overflow: hidden;
}
header h1{
    background-image: url(../images/logo.png);
    height: 60px;
    width: 274px;
    overflow: hidden;
    text-indent: 100%;
    float: left;
    white-space: nowrap;
}
header nav{
    float: right;

}
.main-menu li{
    float: left;
    padding-top: 30px;
    text-align: right;
    font-size: 14px;
    width: 125px;

}
.main-menu a{
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;

}
.main-menu a:hover{
    text-decoration: underline;
}
.content{
    margin: 0 auto 140px auto;
    width: 960px;
    overflow: hidden;

}
.footer{
    background: #fff;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    clear: both;
    overflow: hidden;
}
.footer .footer-content{
    margin: 0 auto;
    padding: 40px 0 20px 0;
    width: 960px;
}